@import '~antd/dist/antd.css';
@import '~fortawesome/fontaweosme';
body {
  --primary-color:#4096d0;
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-header{
  height: 15.4rem;
  background: #f0f2f5;
  padding: 0px 10px;
}
.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  background: #f0f2f5;
}
.vertical-slider{
  text-align: center;
  height: 25.5rem;
  line-height: 25.5rem;
  width: 23rem;
  background: #364d79;
  overflow: hidden;
}
.vertical-slider .slider-img{
  width: 23rem !important;
  height: 25.5rem;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 18.5rem;
  line-height: 18.5rem;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.slider-img{
  width: 32rem;
  height: auto;
}
.ant-layout-footer{
  background-color: var(--primary-color);
}
.text-first{
  color: var(--primary-color);
}
.text-para{
  color:rgb(63, 63, 63);
}